@model ResolutionTracker.ViewModels.ResolutionCreateModel

@{
    ViewData["Title"] = "New Resolution";
}

    <div class="resolution-form">
        <h1>Make a New Resolution!</h1>
        <form method="POST">
            <div class="form-group">
                <input type="text" name="Title" class="form-control" placeholder="Title">
            </div>
            <div class="form-group">
                <input type="text" name="Description" class="form-control" placeholder="Description">
            </div>
            <div class="form-group">
                <input type="text" name="Deadline" class="form-control" placeholder="Deadline">
            </div>
            <div class="form-group">
                <select name="Type" class="form-control">
                    <option>Music</option>
                    <option>Health</option>
                    <option>Coding</option>
                    <option>Language</option>
                </select>
            </div>
            <div class="form-group">
                <input type="text" name="Percentage Completion" class="form-control" placeholder="Percentage Completion">
            </div>
            <button type="submit" asp-action="Create" class="btn btn-primary">Submit</button>
        </form>
    </div>



