@model ResolutionTracker.ViewModels.ResolutionIndexModel

@{
    ViewData["Title"] = "All Resolutions";
}

<div class="row">
    <div class="col-lg-12 light-green">
        <h2>Evie's New Year's Resolutions 2020</h2>
        <h3>The date is @DateTime.Now</h3>
    </div>
</div>
<div class="row text-center">
    @foreach (var resolution in Model.Resolutions)
    {
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail resolution-square">
                <div class="caption">
                    <h4 class="light-yellow">@resolution.ResolutionTitle</h4>
                    <a asp-controller="Catalogue" asp-action="Detail" asp-route-id="@resolution.ResolutionId" class="btn btn-primary">More Info</a>
                </div>
            </div>
        </div>
    }
</div>