@model ResolutionTracker.ViewModels.ResolutionIndexModel

@{
    ViewData["Title"] = "All Resolutions";
    var completedResolutions = Model.Resolutions.Where(r => r.ResolutionIsComplete);
    var numberOfCompletedResolutions = completedResolutions.Count();
}

<div class="row title-section">
    <div class="col-lg-12 light-green">
        <h2>Evie's New Year's Resolutions 2020</h2>
        <h3>The date is @DateTime.Now.ToShortDateString(). So far, you have completed @numberOfCompletedResolutions resolutions!</h3>
    </div>
</div>
<div class="row text-center">
    @foreach (var resolution in Model.Resolutions)
    {
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail resolution-square">
                <div class="caption">
                    @{
                        if (resolution.ResolutionIsComplete)
                        {
                            <h4 class="light-green">@resolution.ResolutionTitle</h4>
                        }
                        else
                        {
                            <h4 class="light-yellow">@resolution.ResolutionTitle</h4>
                        }
                    }
                    <a asp-controller="Resolution" asp-action="Detail" asp-route-id="@resolution.ResolutionId" class="btn btn-primary">More Info</a>
                </div>
            </div>
        </div>
    }
</div>
<div class="row text-center">
    <a class="nice-little-button btn btn-lg btn-info" asp-controller="Resolution" asp-action="Create">Add new resolution</a>
</div>