@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4 light-yellow">Welcome to Evie's New Year's Resolutions 2020!</h1>
</div>
<div>
    <a class="btn btn-lg btn-info" asp-controller="Resolution" asp-action="Index">View all resolutions</a>
</div>
<div class="progress">
  <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
</div>
