@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4 light-yellow">Welcome to Evie's New Year's Resolutions 2020!</h1>
</div>
<div>
    <a class="btn btn-lg btn-info" asp-controller="Resolution" asp-action="Index">View all resolutions</a>
</div>
